# Ignore virtual environment
venv/
Lib/
Include/
Scripts/
pyvenv.cfg

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore model files (if any)
distilbert_fake_news_v2/
distilbert_fake_news_v2/model.safetensors



