# Ignore virtual environment
venv/
Lib/
Include/
Scripts/
pyvenv.cfg

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore model files (if any)
distilbert-fake-news.pt
distilbert_fake_news_v2


#extra testing files
Testing2.ipynb
Testing 3.ipynb

app.py
